
#comment-form.panel.panel-default
  .panel-body.user-comment
    .row.comment-header
      .col-xs-3.comment-pic
        img(src="http://gravatar.com/avatar/1?d=identicon")
      .col-xs-9.comment-info
        strong Test User
    .row.comment-input
      .col-xs-12
        textarea.form-control
    .row.comment-buttons
      .col-xs-8
        button#submit-comment.btn.btn-primary.btn-xs Submit
        button#cancel-comment.btn.btn-default.btn-xs Cancel
      
      
